@import '~antd/dist/antd.css';

html, body {
    height: 100%; /* 外層高度100% */
    margin: 0;
    font-family: "Chalkboard", "Hannotate SC", "Copperplate", "STHeiti Light", "微軟正黑體";
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    font-weight: bold;
    text-align: center;
    overflow: auto;
    display: flex;  
    flex-flow: column wrap;
    flex-grow: 1;
}
.wrapper > * {
    flex: 1 100%;
    max-width: 100%;
}
.content {
    width:100%;
    min-height: 100vh;
    display: flex;  
    flex-flow: column nowrap;
    justify-content: space-between;
}
.back_to_top {
    display: none;
    position: fixed;
    z-index: 9999;
    right: 2rem;
    bottom: 2rem;
    height: 80px;
    transition: all 0.3s ease-in-out;
}
.back_to_top :hover {
    transform: scale(1.1);
}
.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}
#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;   
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
/* Header */
.header{ 
    display: flex;  
    flex-flow: row wrap;
    height: 50vh;
    background-image: url('../images/img/T01_3.jpeg');
    background-position-y: 66%;
    background-repeat: space;
    background-position: center center;
    background-size: cover;
    align-content: space-between;
    justify-content: center;
}
.mask {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100vw;
    height: 50vh;
}
.header .headerTop {
    flex: 1 1 100%;
    display: flex;  
    flex-flow: row nowrap;
    justify-content: right;
    height: 100px;
    background-color: #00000074;
    
}
.header-fixed-top{
    width: 100%;
    background-color: #000000cf;
    margin-top: 0;
    position: fixed;
    top:0px;
    animation-name: fadeInDown;
    z-index: 999;
}
.header .headerTop .logo {
    flex: 1 1 50%;
    display: flex;
    max-width: 100%;
    height: 100px;
}
#headerLogo {
    transform: scale(1.6,1.6);
    margin-left: 50px;
}
.header .headerTop .menu {
    flex: 1 1 50%;
}
.header .headerTop .miniMenu {
    flex: 1 1 0%;
    display: none;
}
.header .headerTop .menu ul {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: end;
    /* margin-top: 10px; */
}
.header .headerTop .menu ul li{
    list-style-type: none;
    width: 150px;
    font-size: 18px;
    padding-bottom: 20px;
}
.header a {
    display: inline-flex;
    color: #d2c898;
    font-weight: bold;
}
.header .headerTop .menu ul li a:hover{
    color: #4d3f08;
    border-radius: 5px;
    transform: scale(1.2);
}
.header .headerTop .menu ul li a:active{
    /* background:rgba(0, 0, 0, 0.397); */
    /* color: #262626; */
    border-radius: 5px;
    transform: scale(1.2);
}
/* .header .headerBottom {
    flex: 1 100%;
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
}
.header .headerBottom img{
    width: 100%;
} */
/* pad */
@media (max-width: 880px) {
    .header .headerTop {
        flex-flow: row nowrap;
    }
    .header .headerTop .menu ul li{
        width: 100px;
    }
}
/* mobile */
@media (max-width: 580px) {
    .header .headerTop {
        display: flex;  
        flex-flow: row nowrap;
        align-items: left;
        justify-content: right;
        height: 10vh;
    }
    .header .headerTop .miniMenu {
        flex: 1 1 80%;
        justify-content: right;
        align-items: center;
        display: flex;
        padding: 20px;
    }
    .header .headerTop .menu {
        flex: 1 1 0%;
        display: none;
    }
    .dropdown-content {
        z-index: 9999;
        display: none;
        position: absolute;
        top:50px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    /* .header-fixed-top{
        width: 100%;
        background-color: #18191ba3;
        margin-top: 0;
        position: fixed;
        top:0px;
        animation-name: fadeInDown;
        z-index: 999;
    } */
    /* .header .headerTop .logo {
        flex: 1 1 20%;
        display: flex;
        max-width: 100%;
        height: 80px;
    } */
    /* .header .headerBottom {
        flex: 1 100%;
        width: 100%;
        max-height: 20vh;
        overflow: hidden;
    } */
}
/* Footer */
.footer{
    flex: 1 1 100%;
    background: #dad5bbd4;
    color: #4d3f08;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    max-height: 180px;
}
.footer img{
    width: 10%;
}
.footer .info{
    font-size: 14px;
    justify-content: left;
    text-align: left;
    font-weight: normal;
    margin: 30px;
}
.footer h4 {
    color: #4d3f08;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.3em;
}
.footer p{
    margin-bottom: 0.1em;
}
.messageIcon{
}
.messageIcon a img{
    width: 80%;
}
.footer a {
    display: inline-flex;
    color: #4d3f08;
    font-weight: bold;
}
.footer a:hover{
    color: #d2c898;
    transform: scale(1.2);
}
/* 通用 */
h1 {
    font-size: 40px;
}
.title {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 150px;
}
.title h1{

    font-size: 50px;
    color: #d2c898;
}