html, body {
    height: 100%; /* 外層高度100% */
    margin: 0;
    font-family: "微軟正黑體";
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    font-weight: bold;
    text-align: center;
    overflow: auto;
    display: flex;  
    flex-flow: column wrap;
    flex-grow: 1;
}
.wrapper > * {
    flex: 1 100%;
    max-width: 100%;
}
.back_to_top {
    display: none;
    position: fixed;
    z-index: 9999;
    right: 2rem;
    bottom: 2rem;
    height: 40px;
    transition: all 0.3s ease-in-out;
}
.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}
#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;   
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
/* Header */
.header{ 
    display: flex;  
    flex-flow: column wrap;
    font-family: 'Dosis', sans-serif;
    background: #262626;
}
.header .headerTop {
    display: flex;  
    flex-flow: row wrap;
    /* align-items: left; */
    justify-content: right;
    height: 80px;
}
.header-fixed-top{
    width: 100%;
    background-color: #18191ba3;
    margin-top: 0;
    position: fixed;
    top:0px;
    animation-name: fadeInDown;
    z-index: 999;
}
.header .headerTop .logo {
    flex: 1 1 20%;
    display: flex;
    max-width: 100%;
    height: 80px;
}
.header .headerTop .menu {
    flex: 1 1 80%;
}
.header .headerTop .miniMenu {
    flex: 1 1 0%;
    display: none;
}
.header .headerTop .menu ul {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: end;
    margin-top: 10px;
}
.header .headerTop .menu ul li{
    list-style-type: none;
    width: 150px;
    font-size: 18px;
    padding-bottom: 20px;
}
a{
    display: inline-flex;
    color: white;
    overflow: hidden;
}
.header .headerTop .menu ul li a:hover{
    color: #ececbb;
    border-radius: 5px;
    transform: scale(1.2);
}
.header .headerTop .menu ul li a:active{
    background:rgba(0, 0, 0, 0.397);
    color: #ececbb;
    border-radius: 5px;
    transform: scale(1.2);
}
.header .headerBottom {
    flex: 1 100%;
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
}
.header .headerBottom img{
    width: 100%;
}
/* pad */
@media (max-width: 880px) {
    .header .headerTop {
        flex-flow: row nowrap;
    }
    .header .headerTop .menu ul li{
        width: 100px;
    }
}
/* mobile */
@media (max-width: 580px) {
    .header .headerTop {
        display: flex;  
        flex-flow: row nowrap;
        align-items: left;
        justify-content: right;
        height: 10vh;
    }
    .header .headerTop .miniMenu {
        flex: 1 1 80%;
        justify-content: right;
        align-items: center;
        display: flex;
        padding: 20px;
    }
    .header .headerTop .menu {
        flex: 1 1 0%;
        display: none;
    }
    .dropdown-content {
        z-index: 9999;
        display: none;
        position: absolute;
        top:50px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    /* .header-fixed-top{
        width: 100%;
        background-color: #18191ba3;
        margin-top: 0;
        position: fixed;
        top:0px;
        animation-name: fadeInDown;
        z-index: 999;
    } */
    /* .header .headerTop .logo {
        flex: 1 1 20%;
        display: flex;
        max-width: 100%;
        height: 80px;
    } */
    .header .headerBottom {
        flex: 1 100%;
        width: 100%;
        max-height: 20vh;
        overflow: hidden;
    }
}
/* Footer */
.footer{
    background: #262626;
    color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}
.footer img{
    width: 10%;
}
.footer .info{
    font-size: 14px;
    justify-content: left;
    text-align: left;
    font-weight: normal;
    margin: 30px;
}
.footer h4 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.3em;
}
.footer p{
    margin-bottom: 0.1em;
}
.text{
}
.messageIcon{
}
.messageIcon a img{
    width: 80%;
}
.footer .messageIcon a:hover{
    color: #ececbb;
    transform: scale(1.2);
}
/* ContactUs 聯絡我們 */
.content {
    width:100%;
    min-height: 100vh;
    padding: 20px;
}
.contact .contactForm{
    padding: 20px;
    text-align: left;
    padding-left: 20px;
}
.ant-form-item{
    margin-bottom: 10px;
}
.contact .myMiniInfo{
    padding: 20px;
}
.contact .myMiniInfoDetail{
    justify-content: left;
}
/* Works 作品集 */
#works{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.imgList {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.img {
    margin: 10px;
}
.worksModal {
    width: 70vw;
    display: none;
    position: absolute;
    margin-right: -50%;
    transform: translate(0%, -40%);
}
.worksModal img{
    display: inline-block;
}
.modalBlur > *:not(.worksModal) {
    -webkit-filter: blur(3px);
}
.slick-slide{
    padding: 20px;
}
.slick-prev {
    left: 3% !important;
    z-index: 1;
}
.slick-next {
    right: 3% !important;
    z-index: 1;
}
.slick-prev:before,
.slick-next:before {
    color: black!important;
}
/* FAQ 常見問題*/
.faq{
    padding: 20px;
}
.faq .question{
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: center;
}
.faq .question .questionItem{
    width: 60%;
    margin-bottom: 20px;
    margin-left: 20px;
    border-width:5px;
    border-style:dashed;
    border-color:#7B7B7B;
    padding:5px;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    box-shadow:3px 3px 5px 5px #cccccc;
}
.faq .question .questionItem > * {
    margin: 20px;
}
.faq .question .questionItem .que{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.3em
}